module.exports = {
    apps: [
      {
        name: "{{ app_pm2_identifier }}",
        script: "npm",
        args: "run start",
        cwd: "{{ sample_app_src_dir }}/{{ sample_app_name }}",
        log_file: "/hms/logs/{{ sample_app_name }}_logs/{{ sample_app_name }}.log",
        out_file: "/hms/logs/{{ sample_app_name }}_logs/{{ sample_app_name }}-out.log",
        error_file: "/hms/logs/{{ sample_app_name }}_logs/{{ sample_app_name }}-error.log",
        merge_logs: true,
        time: true,
        //env: {
        //  NODE_ENV: "development"
        //},
        // env_production: {
        //   NODE_ENV: "production"
        // }
      }
    ]
}