module.exports = {
    apps: [
      {
        name: "{{ sample_app_name_cleaned | lower }}",
        script: "npm",
        args: "run start",
        cwd: "{{ sample_app_src_dir }}/{{ sample_app_name_cleaned }}",
        log_file: "/hms/logs/{{ sample_app_name_cleaned }}_logs/{{ sample_app_name_cleaned }}.log",
        out_file: "/hms/logs/{{ sample_app_name_cleaned }}_logs/{{ sample_app_name_cleaned }}-out.log",
        error_file: "/hms/logs/{{ sample_app_name_cleaned }}_logs/{{ sample_app_name_cleaned }}-error.log",
        merge_logs: true,
        time: true,
        //env: {
        //  NODE_ENV: "development"
        //},
        // env_production: {
        //   NODE_ENV: "production"
        // }
      }
    ]
}